.forecastMainWeather {
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
}
h1{
  font-size: 50px;
  margin: 25px auto;

}

.date-time {
  font-size: 12px;
  margin: 0;
}
img {
  width: 110px;
  margin: 10px auto;
}
.currentTemperature {
  font-size: 35px;
  font-weight: 500;
}
.weather-description {
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
}
.minmax{
  font-size: 15px;
}