.weekForecastDay {
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
  font-size: 17px;
  font-weight:bold;
}

img {
  max-width: 80%;
  text-align: center;

}
.temperature {
  font-size: 45px;
  font-weight: 500;
}

.minTemp,
.maxTemp {
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
  font-size: 17px;
}

.minTemp{
color: cadetblue;
}